*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main-container{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

:root{
    /* Theme-color */
    --primary-theme-color:#437AFF;
    --primary-theme-color2:#A0A09F;
    --footer-color-2035:#162855;
    --primary-normal-white:#FFFF;
    --menu-color:#2D50AA;
    --border-color: (rgba(80, 11, 11),1);
    /* Font-family */
    --primary-ff-theme:"helvetica";
    --primary-ff-theme-2: 'georgia', 'palatino', "book antiqua" ;
}


::placeholder{
    color: var(--menu-color);
    font-family: var(--primary-ff-theme);
    
}